<!doctype html>

<html>

<!-- Header -->
<header>

  <!-- Dependencies -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Style.css')}}">

</header>

<!-- Body -->
<body>

    <!-- Overview of the website -->
    <br> <br> <br>

    <p><h1 align="center">Overall {{ infection_total }} people have been infected by COVID-19 and {{ death_total }} people have died</h1></p>

     <br> <br> <br>
     <hr>
     <br> <br> <br>

    <!-- Buttons to generate graph & graph -->
    <div style="text-align:center" id="chart_placeholder">
      
      <button onclick="GenerateOwnGraph()">View statistics in the country I am currently in</button>

      <p id="location"></p>

      <br><br>

      <p>View statistics in another country</p>

      <select id="country_dropdown">
        {% for each in country_list %}
          <option value="{{each}}">{{each}}</option>
        {% endfor %}
      </select>

      <br><br>

      <button onclick="GenerateSelectGraph()">View statistics in the selected currently</button>

      <div id="chart" style="text-align:center"> </div>

    </div>
 
   
    <!-- Scripts -->
    <script>

      // DrawGraph
      google.charts.load('current', {packages: ['corechart', 'bar']});
      
      function DrawGraph(country, infection, death) {
      
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Infections', 'Deaths'],
          [country, infection, death]
        ]);

        var options = {
          colors: ['#b0120a', '#ffab91'],
          chartArea: {width: '50%'},
          hAxis: {
            title: 'Number of infections and deaths'
          }
        };
        
        var chart = new google.visualization.BarChart(document.getElementById('chart'));
        chart.draw(data, options);

      }

      // GenerateOwnGraph
      function GenerateOwnGraph() {

          navigator.geolocation.getCurrentPosition((position) => {

          longitude = position.coords.longitude
          latitude  = position.coords.latitude

          document.getElementById("location").innerHTML = "Latitude: " + latitude + "<br>Longitude: " + longitude;

          $.ajax({
            url: "/vis",
            type: "get",
            data: {longitude: longitude, latitude:latitude},
            success: function(response) {
              DrawGraph(response.country,response.infection, response.death);
            },
           });

        });
      }

      // GenerateSelectGraph
      function GenerateSelectGraph() {

          country_dropdown = document.getElementById("country_dropdown");
          country = country_dropdown.options[country_dropdown.selectedIndex].value;

          $.ajax({
            url: "/vis",
            type: "get",
            data: {country: country},
            success: function(response) {
              DrawGraph(response.country,response.infection,response.death);
            },
           });
      }

    </script>
  
</body>
</html>
